$node_selected_color: blue;

@mixin hide-text {
    overflow: hidden;
    text-indent: 150%;
    white-space: nowrap;
}
@mixin material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

%material-icons {
    @include material-icons;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
}

a {
    color: inherit;
}

.header {
    & {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        height: 30px;
        padding: 0 10px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .home {
        & {
            @include hide-text;
            order: -1;
            position: relative;
            box-sizing: border-box;
            width: 20px;
            height: 20px;
            border: 1px solid;
            text-decoration: none;
            vertical-align: middle;
            background-color: #fff;
        }
        &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 6px;
            width: 1em;
            height: 1em;
            margin: auto;
            text-indent: 0;
            content: '/';
        }
    }
    .login {
    }
}

.nodes-wrap {
    height: 100%;
}
.nodes-container {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    height: calc(100% - 20px);
    margin: 10px;
}
.nodes-container::before {
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: inherit;
    border: 1px solid #eee;
    background:
        linear-gradient(0deg, hsla(0, 0%, 0%, 0.15) 1px, transparent 1px) 0 0/auto 50px repeat,
        linear-gradient(-90deg, hsla(0, 0%, 0%, 0.15) 1px, transparent 1px) 0 0/50px auto repeat,
        linear-gradient(0deg, hsla(0, 0%, 90%, 1) 1px, transparent 1px) 0 0/auto 10px repeat,
        linear-gradient(-90deg, hsla(0, 0%, 90%, 1) 1px, transparent 1px) 0 0/10px auto repeat,
        #fff;
    pointer-events: none;
    content:'';
}
.nodes-container .create_node {
    & {
        @include hide-text;
        position: fixed;
        z-index: 10;
        top: 5px;
        left: 10px + 30px;
        width: 20px;
        height: 20px;
        border: 1px solid;
        background-color: #fff;
        -webkit-appearance: none;
    }
    &::before {
        @extend %material-icons;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 1em;
        height: 1em;
        margin: auto;
        font-size: 16px;
        text-indent: 0;
        content: 'note_add';
    }
}

.nodes {
    & {
    }
    &::before,
    &::after {
        display: table;
        content: '';
    }
}

.node {
    & {
        position: absolute;
        width: -webkit-fit-content;
        width: fit-content;
        margin: 0;
    }
    &.is_selected {
        box-shadow: 0 0 6px $node_selected_color;
    }
    &.is_draggable {
        & {
            will-change: top, left;
        }
        &::before {
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            height: 20px;
            cursor: -webkit-grab;
            cursor: grab;
            background-color: #eee;
            content: '';
        }
    }
    &.is_dragging {
        &::before {
            cursor: -webkit-grabbing;
            cursor: grabbing;
        }
    }
    &.is_linking {
    }
    %box {
        box-sizing: border-box;
        min-width: 6.5em;
        min-height: 3em;
        margin: 0;
        padding: 0 1em;
        border: 1px solid #ddd;
        border-radius: 0;
        line-height: 1.2;
        font-family: monospace;
        font-size: 16px;
        color: #555;
        white-space: nowrap;
        background-color: #fff;
        resize: none;
    }
    .input {
        @extend %box;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-top: 1.2em;
        padding-bottom: 1.2em;
        opacity: 0;
        -webkit-appearance: none;
    }
    .input:focus {
        z-index: 10;
        width: auto;
        min-width: 100%;
        outline: none;
        opacity: 1;
    }
    %btn {
        position: absolute;
        bottom: 100%;
        right: 0;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        padding: 0;
        border: 1px solid #ddd;
        background: none;
        -webkit-appearance: none;
    }
    %btn_tooltip {
        &::after {
            display: none;
            position: absolute;
            bottom: 100%;
            left: 0;
            margin: 5px -2px;
            padding: 2px 5px;
            border: 1px solid #777;
            white-space: nowrap;
            opacity: 0.7;
            background-color: #fff;
            content: attr(aria-label);
        }
        &:hover::after {
            display: block;
        }
    }
    @mixin btn_icon {
        @extend %btn_icon;
        &::before {
            @content;
        }
    }
    %btn_icon {
        &::before {
            @extend %material-icons;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 1em;
            height: 1em;
            margin: auto;
            font-size: 16px;
            line-height: 1;
            text-indent: 0;
            cursor: pointer;
        }
    }
    .submit {
        @extend %btn;
        @extend %btn_tooltip;
        margin-left: -20px;
    }
    .add_child {
        @extend %btn;
        @extend %btn_tooltip;
        @include btn_icon {
            content: '\ff0b';
            content: 'subdirectory_arrow_right';
        }
        margin-right: 25px;
    }
    .add_link {
        @extend %btn;
        @extend %btn_tooltip;
        @include btn_icon {
            content: '\223c';
            content: 'my_location';
        }
        margin-right: 50px;
    }
    .delete {
        @extend %btn;
        @extend %btn_tooltip;
        @include btn_icon {
            content: '\2573';
            content: 'close';
        }
    }
    .url {
        @extend %btn;
        @extend %btn_tooltip;
        @include btn_icon {
            content: '\1F517';
            content: 'link';
        }
        @include hide-text;
        margin-right: 75px;
    }
    .remove_link {
        @extend %material-icons;
        position: absolute;
        width: 1.13em;
        height: 1.13em;
        padding: 0;
        line-height: 1;
        border: 1px solid #ddd;
        border-radius: 30%;
        font-size: 12px;
        opacity: 0;
        color: rgba(0,0,0,0.5);
        background-color:rgba(0,0,0,0.1);
        cursor: pointer;
        -webkit-appearance: none;
    }
    .remove_link::before {
        content: '\2573';
        content: 'clear';
    }
    &:hover .remove_link {
        opacity: 1;
    }
    .result {
        & {
            @extend %box;
            display: inline-block;
        }
        h1, h2, h3, h4, h5 {
            margin: 0.5em 0;
        }
        ol,
        ul {
            padding-left: 1em;
        }
        div,
        p {
            margin-top: 1.2em;
            margin-bottom: 1.2em;
        }
        a {
            display: inline-block;
            position: relative;
            overflow: hidden;
            max-width: 20em;
            vertical-align: bottom;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
